

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 120px 20px 40px;
}

.hero img{
    width: 220px;
    height: 220px; 
    border-radius: 50%;
}

/* .hero_img{
    margin-top: 150px;

} */

.hero h1{
    text-align:center;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}

.hero-action{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.hero-connect{
    padding: 16px 32px;
    border-radius: 40px;
    background: linear-gradient(264deg, #DF8908 10%, #B415FF 100%);
    cursor: pointer;
}
/* .hero-connect:hover{
    border: 2px solid white;
    transform: scale(1.05);
} */

.hero-resume{
    padding: 16px 32px;
    border-radius: 40px;
    border: 2px solid white;
    cursor: pointer;
}
 /* .hero-connect,
.hero-resume{
    padding: 16px 32px;
    border-radius: 40px;
} */
/* .hero-resume:hover{
    border-color: #B415FF;
    transform: scale(1.05);
} */

@media (hover: hover){
    .hero-connect:hover{
    border: 2px solid white;
    transform: scale(1.05);

    }
    .hero-resume:hover{
    border-color: #B415FF;
    transform: scale(1.05);
    }
}


@media (min-width: 768px){
    /* .hero{
    gap: 35px;
    padding: 150px 0 50px;
} */



    .hero img{
       
    width: 320px;
    height: 320px;
    }
.hero h1{
    margin-top: 50px;
    /* margin-left: auto; */
    width: 70%;
    font-size: 90px;
}
.hero p{
    width: 50%;
    font-size: 24px;
    line-height: 40px;
    margin: 10px 0px;
}

.hero-action{
    /* gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px; */
    flex-direction: row;
    gap: 25px;
    font-size: 24px;

}
.hero-connect{
    padding: 25px 45px;
    border-radius: 40px;

}
.hero-resume{
    padding: 25px 75px;
    border-radius: 40px;
}

}