*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 170px;
    /* background: #1f1e1c; */
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.05);
}