

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.hero_img{
    margin-top: 150px;

}

.hero h1{
    text-align:center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}